{% extends "base.html" %}

{% block content %}
  <h2>Admin Giriş</h2>
  <form method="POST" action="{{ url_for('auth.login') }}" class="form-container">
    <label for="username">Kullanıcı Adı:</label>
    <input type="text" id="username" name="username" class="form-input" required>

    <label for="password">Şifre:</label>
    <input type="password" id="password" name="password" class="form-input" required>

    <button type="submit" class="button-primary">Giriş Yap</button>
  </form>

  <hr>

  <h2>Plaka ile Giriş</h2>
  <form method="POST" action="{{ url_for('auth.plaka_login') }}" class="form-container">
    <label for="plaka">Plaka:</label>
    <input type="text" id="plaka" name="plaka" class="form-input" required>

    <label for="plate_password">Şifre:</label>
    <input type="password" id="plate_password" name="password" class="form-input" required>

    <button type="submit" class="button-primary">Sorgula</button>
  </form>
{% endblock %}
