{% extends "base.html" %}
{% block content %}
  <h2>Ödeme Listesi</h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Kayıt ID</th>
        <th>Tutar</th>
        <th>Ödeme Zamanı</th>
        <th>Ödeme Tipi</th>
        <th>İşlemler</th>
      </tr>
    </thead>
    <tbody>
      {% for o in odemeler %}
      <tr>
        <td>{{ o.id }}</td>
        <td>{{ o.kayit_id }}</td>
        <td>{{ o.tutar }} ₺</td>
        <td>{{ o.odeme_zamani|format_date }}</td>
        <td>{{ o.odeme_tipi }}</td>
        <td>
          <a href="{{ url_for('main.edit_payment', id=o.id) }}"
             class="button-primary">
            Düzenle
          </a>
          <form method="post"
                action="{{ url_for('main.delete_payment', id=o.id) }}"
                style="display:inline;">
            <button type="submit"
                    class="button-danger"
                    onclick="return confirm('Bu ödemeyi silmek istediğinizden emin misiniz?');">
              Sil
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
